
<h1>Input (frontend) test <small>Form with text processing in realtime frontend</small></h1>

<div class="panel panel-default">
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="valueTextarea">Input your text here</label>
                <textarea class="form-control" rows="8" id="valueTextarea"></textarea>
                <span id="helpBlock" class="help-block">
                    Characters count: <span id="valueTextareaCharsCount">0</span><br />
                    Words count: <span id="valueTextareaWordsCount">0</span>
                </span>
            </div>
        </form>
    </div>
</div>