<h1>Upload (backend) test <small>Form with post upload processing at backend</small></h1>

<div class="panel panel-default">
    <div class="panel-body">
        <h2>File processing result</h2>

        <table class="table table-bordered">
            <caption>Table 1 &mdash; Processing Results</caption>
            <thead>
            <tr>
                <th>Param</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Characters count</td>
                <td class="text-center">{{charsCount}}</td>
            </tr>
            <tr>
                <td>Words count</td>
                <td class="text-center">{{wordsCount}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>